* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	list-style: none;
	text-decoration: none;
	user-select: none;
}

html,
body {
	min-height: 100%;
	height: 100%;
	background-color: #0c5970fb;
}

main,
section {
	background-attachment: fixed;
}

#navbar {
	width: 100%;
	height: 80px;
	opacity: 1;
	position: fixed;
	z-index: 20;
	background-image: linear-gradient(to right, #02405983, #b5babb79);
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#menu {
	display: flex;
	list-style: none;
	margin-right: 10%;
	float: right;
	gap: 30px;
	align-items: center;
	height: 100%;
}

#menu li {
	display: inline;
}

#nav-logo {
	position: absolute;
	left: 3%;
	height: 100%;
	display: flex;
	align-items: center;
	margin-top: 0;
}

#menu button {
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 15px;
	padding: 10px 20px;
	font-size: 1.2em;
	transition: background 0.3s, color 0.3s;
}

#menu button:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #3269ce;
}

main {
	position: relative;
	display: flex;
	background-image: url("../img/mainImg.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}

.logo {
	margin: 0 auto;
	position: relative;
	top: 10%;
	width: 20%;
	height: 30%;
}

.logoImg {
	height: auto;
	width: 100%;
}

#conteudo {
	background-color: white;
	text-align: center;
	height: 1300px;
	width: 70%;
}

.texto1 {
	color: darkred;
	text-align: center;
	font-style: initial;
	font-size: 20px;
}

section {
	display: flex;
	align-items: center;
	background-image: url("../img/section-img.jpg");
	background-size: cover;
	height: 100%;
	font-family: "Montserrat";
	color: #2c3e50;
}
#info {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0 auto;
	height: 70%;
	width: 70%;
}

#map {
	z-index: 0;
	height: 80%;
	width: 100%;
	border-radius: 10px;
}

#info-content {
	padding: 15px;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 30%;
	background-color: aliceblue;
	border-radius: 20px;
}

#info-content a {
	color: #2c3e50;
}

#info-content h1 {
	color: gold;
	font-weight: 900;
	font-size: 1.75em;
	width: 100%;
	border-bottom: 2px solid gold;
	text-shadow: 1px 1px rgba(23, 82, 77, 0.616);
}

#map b {
	color: #67b2f0;
	font-family: "Dancing Script";
	font-size: 2em;
	text-shadow: 0.5px 0.5px #4c80aa8c;
}

nav button {
	color: gold;
}

@media only screen and (max-width: 1126px) {
	#menu {
		padding: 0;
		display: flex;
		justify-content: center;
		float: none;
	}
	main {
		background-position: 50%;
	}

	#info-content {
		height: 250px;
	}
}

@media screen and (max-width: 860px) {
	.logoImg {
		visibility: hidden;
	}
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		left: 0%;
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
	#info-content {
		width: 90%;
		flex-direction: column;
		gap: 20px;
		border-radius: 20px;
		height: 30%;
	}
	#info {
		width: 100%;
	}
	#map {
		width: 95%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 600px) {
	.logoImg {
		visibility: hidden;
	}
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		left: 0%;
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
	#info-content {
		width: 90%;
		flex-direction: column;
		gap: 20px;
		border-radius: 20px;
		height: 30%;
	}
	#info {
		width: 100%;
	}
	#map {
		width: 95%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		margin: 0 auto;
		position: relative;
		height: 100px;
		left: 0%;
	}
	main {
		background-image: url("../img/mainImg.jpg");
		background-size: cover;
		background-position: 50%;
		height: 500px;
	}

	.logoImg {
		visibility: hidden;
	}
	#info-content {
		width: 90%;
		border-radius: 20px;
	}

	#info {
		width: 100%;
	}
	#map {
		width: 95%;
		margin: 0 auto;
	}
	section {
		height: 1000px;
	}
}
@media screen and (max-width: 320px) {
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		margin: 0 auto;
		position: relative;
		height: 100px;
		left: 0%;
	}
	main {
		background-image: url("../img/mainImg.jpg");
		background-size: cover;
		background-position: 50%;
	}
	.logoImg {
		visibility: hidden;
	}
	#info-content {
		width: 90%;
		border-radius: 20px;
	}
	#info {
		width: 100%;
	}
	#map {
		width: 95%;
		margin: 0 auto;
	}
}
#inf-add {
	text-align: center;
	font-family: "Dancing Script", cursive;
	font-size: 2.5em;
	color: #2c3e50;
	margin: 20px 0;
}
