/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
  }
  
  header img {
    border-radius: 50%;
    margin-top: 10px;
  }
  
  /* Estilos da seção de dados pessoais */
  section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  section ul {
    list-style-type: none;
    padding: 0;
  }
  
  section li {
    margin-bottom: 10px;
  }
  
  section li strong {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Estilos da seção de habilidades */
  section ul li {
    margin-bottom: 5px;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }