* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: gold;
	list-style: none;
	text-decoration: none;
	user-select: none;
}

html,
body {
	min-height: 100%;
	height: 100%;
}

#navbar {
	background-image: linear-gradient(to right, #02405983, #b5babb79);
	width: 100%;
	height: 12%;
	min-height: 20px;
	opacity: 100%;
	position: fixed;
	z-index: 20;
	border-radius: 0px 0px 20px 20px;
}

#menu {
	display: flex;
	list-style: none;
	margin-right: 10%;
	float: right;
	width: 30%;
	gap: 30px;
	align-items: center;
	height: 100%;
}

#menu li {
	display: inline;
}

#nav-logo {
	position: absolute;
	left: 3%;
	height: 90%;
	display: flex;
	margin-top: 0.3%;
}

#menu button {
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 15px;
	padding: 25px 10px;
	font-size: 1.3em;
}

#menu button:hover,
#footer-menu a:hover,
#footer-social-ul li:hover {
	color: #67b2f0;
	list-style-type: none;
}

footer a {
	display: block;
}

#footer-top {
	background-image: linear-gradient(
		to right,
		rgb(2, 64, 89),
		rgb(181, 186, 187)
	);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 35%;
}

#footer-menu {
	display: flex;
	gap: 40px;
}

#footer-social-ul {
	display: flex;
	gap: 40px;
}

#footer-social-ul li,
#footer-menu a {
	padding: 10px;
	border-radius: 10px;
}

#footer-bottom {
	clear: both;
	display: flex;
	background-color: rgb(37, 37, 38);
	height: 30%;
	justify-content: center;
	align-items: center;
}

footer #footer-bottom .copyright-text {
	font-size: 0.9em;
	font-weight: 500;
	text-align: center;
}

main {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.logo {
	margin: 0 auto;
	position: relative;
	top: 10%;
	width: 20%;
	height: 30%;
}

.logoImg {
	height: auto;
	width: 100%;
}

section {
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
}

#conteudo {
	background-color: white;
	text-align: center;
	height: 1300px;
	width: 70%;
}

footer {
	width: 100%;
	height: 15%;
}

.texto1 {
	color: darkred;
	text-align: center;
	font-style: initial;
	font-size: 20px;
}

footer > div + div {
	margin-top: 0px;
}

#footer-insta,
#footer-youtube,
#footer-tiktok,
#footer-facebook {
	height: 50px;
	width: 50px;
}

#footer-insta {
	background: url("../img/icon-insta-yellow.png");
}

#footer-youtube {
	background: url("../img/icon-youtube-yellow.png");
}

#footer-tiktok {
	background: url("../img/icon-tiktok-yellow.png");
}

#footer-facebook {
	background: url("../img/icon-facebook-yellow.png");
}

#footer-insta:hover {
	background: url("../img/icon-insta-blue.png");
}

#footer-youtube:hover {
	background: url("../img/icon-youtube-blue.png");
}

#footer-tiktok:hover {
	background: url("../img/icon-tiktok-blue.png");
}

#footer-facebook:hover {
	background: url("../img/icon-facebook-blue.png");
}

@media only screen and (max-width: 1800px) {
	#footer-top {
		gap: 10%;
	}
	.footer-social-img {
		height: 40px;
	}
}

@media only screen and (max-width: 1024px) {
	#menu {
		padding: 0;
		margin: 0 auto;
		float: none;
	}
	main {
		background-position: 50%;
	}
	#footer-top {
		gap: 10%;
	}
	.footer-social-img {
		height: 40px;
	}
}

@media screen and (max-width: 800px) {
	.logoImg {
		visibility: hidden;
	}
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		left: 0%;
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
}

@media screen and (max-width: 600px) {
	.logoImg {
		visibility: hidden;
	}
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		left: 0%;
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
}

@media screen and (max-width: 480px) {
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		margin: 0 auto;
		position: relative;
		height: 100px;
		left: 0%;
	}
	main {
		background-image: url("../img/mainImg.jpg");
		background-size: cover;
		background-position: 50%;
		height: 500px;
	}

	footer {
		height: 400px;
	}

	#footer-social-ul {
		gap: 0;
	}

	#footer-top {
		background-image: linear-gradient(
			to right,
			rgb(2, 64, 89),
			rgb(181, 186, 187)
		);
		display: flex;
		flex-direction: column;
	}
	.logoImg {
		visibility: hidden;
	}
}
@media screen and (max-width: 320px) {
	#navbar {
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		margin: 0 auto;
		position: relative;
		height: 100px;
		left: 0%;
	}
	main {
		background-image: url("../img/mainImg.jpg");
		background-size: cover;
		background-position: 50%;
	}

	footer {
		margin-top: 0;
		height: 400px;
	}

	#footer-social-ul {
		gap: 0;
	}

	#footer-top {
		background-image: linear-gradient(
			to right,
			rgb(2, 64, 89),
			rgb(181, 186, 187)
		);
		display: flex;
		flex-direction: column;
	}
	.logoImg {
		visibility: hidden;
	}
}
