* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: gold;
	list-style: none;
	text-decoration: none;
	user-select: none;
}

html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
}

header {
		position: sticky;
		top: 0;
		z-index: 1000; 
		background-image: linear-gradient(to left, rgb(18, 80, 105), rgb(30, 77, 87));
		padding: 10px 0;
	
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.esquerda-nav {
	display: flex;
	align-items: center;
}

.nav-logo img {
	height: 80px;
	width: auto;
}

.barra_dividir_logo {
	width: 1px;
	height: 40px;
	background-color: white;
	margin: 0 20px;
}

.voltar {
	color: gold;
	font-size: 18px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.voltar:hover {
	color: #67b2f0;
}

.entrar {
	color: gold;
	font-size: 18px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.entrar:hover {
	color: #67b2f0;
}
#footer-menu a:hover,
#footer-social-ul li:hover {
	color: #67b2f0;
	list-style-type: none;
}

footer a {
	display: block;
}

#footer-top {
	background-image: linear-gradient(
		to right,
		rgb(2, 64, 89),
		rgb(181, 186, 187)
	);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 35%;
}

#footer-menu {
	display: flex;
	gap: 40px;
}

#footer-social-ul {
	display: flex;
	gap: 40px;
}

#footer-social-ul li,
#footer-menu a {
	padding: 10px;
	border-radius: 10px;
}

#footer-bottom {
	clear: both;
	display: flex;
	background-color: rgb(37, 37, 38);
	height: 30%;
	justify-content: center;
	align-items: center;
}

footer #footer-bottom .copyright-text {
	font-size: 0.9em;
	font-weight: 500;
	text-align: center;
}

.logo {
	margin: 0 auto;
	position: relative;
	top: 10%;
	width: 20%;
	height: 30%;
}

.logoImg {
	height: auto;
	width: 100%;
}

footer {
	height: 100px;
	position: relative;
	width: 100%;
}

.texto1 {
	color: darkred;
	text-align: center;
	font-style: initial;
	font-size: 20px;
}

footer > div + div {
	margin-top: 0px;
}

#section-area {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/quem-somos-mainIMG.jpg");
	background-size: cover;
	background-position: center;
}

#footer-insta,
#footer-youtube,
#footer-tiktok,
#footer-facebook {
	height: 50px;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


section {
	display: flex;
	flex-direction: column;
	margin-top: 8%;

	background-color: #ffffff9a;
	width: 87%;
	border-radius: 20px;
	padding: 50px;
	margin-bottom: 20px;
}

.tela-membro {
	background-color: rgba(206, 207, 207, 0.63);
	display: flex;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 20px;
}

.foto-membro {
	width: 70%;
	height: auto;
	border-radius: 20px;
}

.membro-texto {
	margin: 0 25px;
	width: 40%;
	background-color: #ffffffbd;
	padding: 15px;
	border-radius: 20px;
}

.membro-texto h1 {
		line-height: .4166666em;
		font-family: "Have Heart Two", "Have Heart Fallback", sans-serif;
		font-size: 1.5em; 
		font-weight: bold;
		text-transform: uppercase; 
		color: goldenrod;
		margin: 20px 0; 
	
}

.membro-texto p {
	color: black;
}

.membro-texto b {
	color: black;
}

#footer-insta,
#footer-youtube,
#footer-tiktok,
#footer-facebook {
	height: 50px;
	width: 50px;
}

#footer-insta {
	background: url("../img/icon-insta-yellow.png");
}

#footer-youtube {
	background: url("../img/icon-youtube-yellow.png");
}

#footer-tiktok {
	background: url("../img/icon-tiktok-yellow.png");
}

#footer-facebook {
	background: url("../img/icon-facebook-yellow.png");
}

#footer-insta:hover {
	background: url("../img/icon-insta-blue.png");
}

#footer-youtube:hover {
	background: url("../img/icon-youtube-blue.png");
}

#footer-tiktok:hover {
	background: url("../img/icon-tiktok-blue.png");
}

#footer-facebook:hover {
	background: url("../img/icon-facebook-blue.png");
}

@media only screen and (max-width: 1800px) {
	#footer-top {
		gap: 10%;
	}
	.footer-social-img {
		height: 40px;
	}
}

@media screen and (max-width: 1666px) {
	section {
		margin-top: 13%;
	}
}

@media screen and (max-width: 1256px) {
	#menu {
		padding-right: 10%;
	}
	section {
		margin-top: 15%;
	}
}

@media screen and (max-width: 1024px) {
	body {
		background: url("../img/quem-somos-mainIMG.jpg");
		width: 100%;
	}
	#navbar {
		width: 100%;
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		right: 4%;
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
	section {
		margin: 0;
		background: none;
		padding-top: 500px;
		padding-left: 0;
		width: 100%;
		height: auto;
	}

	#section-area {
		width: 100%;
	}
	.tela-membro {
		background: none;
		margin: 0 auto;
		padding: 0;
		width: 95%;
		flex-direction: column;
		margin-bottom: 15px;
	}

	.membro-texto {
		margin: 0;
		width: 97%;
		height: 100%;
	}

	.membro-texto h1 {
		font-size: 1.7rem;
	}

	.foto-membro {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	#resp-img01,
	#resp-img02,
	#resp-img03 {
		margin: 0;
		width: 100%;
		height: 600px;
		border-radius: 20px;
		margin-bottom: 5px;
	}

	#resp-img01 {
		background: no-repeat url(../img/quem-somos01.jpg);
		background-size: 100%;
	}
	#resp-img02 {
		background: no-repeat url(../img/quem-somos02.jpg);
		background-size: 100%;
	}
	#resp-img03 {
		background: no-repeat url(../img/quem-somos03.jpg);
		background-size: 100%;
	}
	#section-area {
		display: block;
		justify-content: center;
		align-items: normal;
		background: none;
	}

	footer {
		height: 400px;
	}

	#footer-social-ul {
		gap: 0;
	}

	#footer-top {
		background-image: linear-gradient(
			to right,
			rgb(2, 64, 89),
			rgb(181, 186, 187)
		);
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 800px) {
	body {
		background: url("../img/quem-somos-mainIMG.jpg");
		width: 100%;
	}
	#navbar {
		width: 100%;
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
	section {
		margin: 0;
		background: none;
		padding-top: 500px;
		padding-left: 0;
		width: 100%;
		height: auto;
	}

	#section-area {
		width: 100%;
	}
	.tela-membro {
		background: none;
		margin: 0 auto;
		padding: 0;
		width: 95%;
		flex-direction: column;
		margin-bottom: 15px;
	}

	.membro-texto {
		margin: 0;
		width: 96%;
		height: 100%;
	}

	.membro-texto h1 {
		font-size: 1.7rem;
	}

	.foto-membro {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	#resp-img01,
	#resp-img02,
	#resp-img03 {
		margin: 0;
		width: 100%;
		height: 450px;
		border-radius: 20px;
		margin-bottom: 5px;
	}

	#resp-img01 {
		background: no-repeat url(../img/quem-somos01.jpg);
		background-size: 100%;
	}
	#resp-img02 {
		background: no-repeat url(../img/quem-somos02.jpg);
		background-size: 100%;
	}
	#resp-img03 {
		background: no-repeat url(../img/quem-somos03.jpg);
		background-size: 100%;
	}
	#section-area {
		display: block;
		justify-content: center;
		align-items: normal;
		background: none;
	}

	footer {
		height: 400px;
	}

	#footer-social-ul {
		gap: 0;
	}

	#footer-top {
		background-image: linear-gradient(
			to right,
			rgb(2, 64, 89),
			rgb(181, 186, 187)
		);
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 600px) {
	body {
		background: url("../img/quem-somos-mainIMG.jpg");
		width: 100%;
	}
	#navbar {
		width: 100%;
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		right: 4%;
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
	section {
		margin: 0;
		background: none;
		padding-top: 500px;
		padding-left: 0;
		width: 100%;
		height: auto;
	}

	#section-area {
		width: 100%;
	}
	.tela-membro {
		background: none;
		margin: 0 auto;
		padding: 0;
		width: 95%;
		flex-direction: column;
		margin-bottom: 15px;
	}

	.membro-texto {
		margin: 0;
		width: 95%;
		height: 100%;
	}

	.membro-texto h1 {
		font-size: 1.7rem;
	}

	.foto-membro {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	#resp-img01,
	#resp-img02,
	#resp-img03 {
		margin: 0;
		width: 100%;
		height: 300px;
		border-radius: 20px;
		margin-bottom: 5px;
	}

	#resp-img01 {
		background: no-repeat url(../img/quem-somos01.jpg);
		background-size: 100%;
	}
	#resp-img02 {
		background: no-repeat url(../img/quem-somos02.jpg);
		background-size: 100%;
	}
	#resp-img03 {
		background: no-repeat url(../img/quem-somos03.jpg);
		background-size: 100%;
	}
	#section-area {
		display: block;
		justify-content: center;
		align-items: normal;
		background: none;
	}

	footer {
		height: 400px;
	}

	#footer-social-ul {
		gap: 0;
	}

	#footer-top {
		background-image: linear-gradient(
			to right,
			rgb(2, 64, 89),
			rgb(181, 186, 187)
		);
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
	body {
		background: url("../img/quem-somos-mainIMG.jpg");
		width: 100%;
	}
	#navbar {
		width: 100%;
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		right: 4%;
		margin: 0 auto;
		position: relative;
		height: 100px;
	}
	section {
		margin: 0;
		background: none;
		padding-top: 500px;
		padding-left: 0;
		width: 100%;
		height: auto;
	}

	#section-area {
		width: 100%;
	}
	.tela-membro {
		background: none;
		margin: 0 auto;
		padding: 0;
		width: 95%;
		flex-direction: column;
		margin-bottom: 15px;
	}

	.membro-texto {
		margin: 0;
		width: 95%;
		height: 100%;
	}

	.membro-texto h1 {
		font-size: 1.7rem;
	}

	.foto-membro {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	#resp-img01,
	#resp-img02,
	#resp-img03 {
		margin: 0;
		width: 100%;
		height: 240px;
		border-radius: 20px;
		margin-bottom: 5px;
	}

	#resp-img01 {
		background: no-repeat url(../img/quem-somos01.jpg);
		background-size: 100%;
	}
	#resp-img02 {
		background: no-repeat url(../img/quem-somos02.jpg);
		background-size: 100%;
	}
	#resp-img03 {
		background: no-repeat url(../img/quem-somos03.jpg);
		background-size: 100%;
	}
	#section-area {
		display: block;
		justify-content: center;
		align-items: normal;
		background: none;
	}

	footer {
		height: 400px;
	}

	#footer-social-ul {
		gap: 0;
	}

	#footer-top {
		background-image: linear-gradient(
			to right,
			rgb(2, 64, 89),
			rgb(181, 186, 187)
		);
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 320px) {
	body {
		background: url("../img/quem-somos-mainIMG.jpg");
		width: 100%;
	}
	#navbar {
		width: 100%;
		height: 460px;
		position: absolute;
		top: 0%;
	}
	#menu {
		margin: 0 auto;
		float: none;
		flex-direction: column;
	}
	#nav-logo {
		right: 3%;
		position: relative;
		height: 100px;
	}
	section {
		margin: 0;
		background: none;
		padding-top: 500px;
		padding-left: 0;
		width: 100%;
		height: auto;
	}

	#section-area {
		width: 100%;
	}
	.tela-membro {
		background: none;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		flex-direction: column;
		margin-bottom: 15px;
	}

	.membro-texto {
		margin: 0;
		width: 95%;
		height: 100%;
	}

	.membro-texto h1 {
		font-size: 1.7rem;
	}

	.foto-membro {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	#resp-img01,
	#resp-img02,
	#resp-img03 {
		margin: 0;
		width: 100%;
		height: 190px;
		border-radius: 20px;
		margin-bottom: 5px;
	}

	#resp-img01 {
		background: no-repeat url(../img/quem-somos01.jpg);
		background-size: 100%;
	}
	#resp-img02 {
		background: no-repeat url(../img/quem-somos02.jpg);
		background-size: 100%;
	}
	#resp-img03 {
		background: no-repeat url(../img/quem-somos03.jpg);
		background-size: 100%;
	}
	#section-area {
		display: block;
		justify-content: center;
		align-items: normal;
		background: none;
	}

	footer {
		height: 400px;
	}

	#footer-social-ul {
		gap: 0;
	}

	#footer-top {
		background-image: linear-gradient(
			to right,
			rgb(2, 64, 89),
			rgb(181, 186, 187)
		);
		display: flex;
		flex-direction: column;
	}
}
