header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2000px;
    background-image: url("../img/quem-somos-mainIMG.jpg");
    background-size: cover;
}

section {
    margin-top: 5%;
    height: 80%;
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    padding: 25px;
}

.tela-membro {
    border-radius: 25px;
    padding: 20px;
    background-color: yellow;
    height: 40%;
    width: 25%;
}

.foto-membro{
    border: 1px solid red;
}

.tela-membro p {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}